@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
li {
  list-style-type: none;
}
body {
  height: 100%;
}
.wrapper {
  min-height: calc(100vh - 103px);
}
#root {
}

.App {
  width: 940px;
  margin: 0 auto;
  display:block;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid rgb(0, 189, 214);
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}
.sortBlock {
  display: flex;
  align-items: center;
}
p {
  color: #4c4c4c;
}

// page HOME ------------------------------------
h1, h2, h3, h4 {
  color: #6800a4;
  font-weight: 400;
}
.cards-wrapper {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards-wrapper__basket {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card {
  width: 220px;
  background-color: #f5eaff;
  //box-shadow: 0 0 10px rgba(114, 0, 159, 0.4);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  img {
    border-radius: 4px;
  }
  &-basket {
    width: 300px;
    flex-direction: row;
  }
  &-description {
    color: #4c4c4c;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    &:hover {
      color: #161616;
    }
  }
  &-price {
    margin-top: 10px;
    font-size: 18px;
    span {
      margin-right: 10px;
    }
  }
}

.basket-title {
  color: #3f3f3f;
  font-size: 18px;
  margin: 20px 0;
  text-align: center;
  
}
.block-sum {
  li {
    color: #333;
    font-size: 18px;
    padding: 5px 0;
    cursor: pointer;
    &:hover {
      color: #000;
    }
  }
  input, label {
    margin-right: 15px;
    cursor: pointer;
  }
}
.sum {
  &__delivery {
    margin-top: 15px;
    h2 {
      margin-bottom: 15px;
    }
  }
  &__reduction {
    margin-top: 15px;
    h2 {
      margin-bottom: 15px;
    }
  }
  &__total {
    margin: 15px 0;
    font-size: 24px;
    font-weight: 600;
  }
}
.sorting-block {
  display: flex;
  justify-content: flex-end;
}
.counter-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #ecdafc;
  margin: 15px auto;
  max-width: 150px;
  button {
    padding: 0px 20px;
    margin: 0;
    font-size: 32px;
    color: #6800a4;
    background-color: inherit;
    text-align: center;
    border: none;
    cursor: pointer;
    &:hover {
      color: green;
      background-color: #e8d1fc;
    }
  }
}
button:disabled {
  color: #4c4c4c;
  border-color: #4c4c4c;
  cursor: not-allowed;
  &:hover {
    background-color: #fff;
    color: #4c4c4c;
  }
}

// Sign In
.block-link {
  margin-top: 45px;
  color: #333;
  border-top: 2px solid #d6bcf8;
  border-bottom: 2px solid #d6bcf8;
  padding: 15px 0;
  h3 {
    color: #333;
    margin-bottom: 15px;
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: #6800a4;
    font-size: 16px;
    &:hover {
      transition: all 0.2s;
      font-weight: 800;
    }
  }
}