.btn {
  &-fiolet{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    color: #6800a4;    
    background-color: #fff;
    border: 1px solid#6800a4;
    cursor: pointer;
    &:hover {
      background-color: #6800a4;;
      color: #fff;
      transition: all 0.2s;
    }
  }
  &-grey {
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    color: #333;
    background-color: #fff;
    border: 1px solid #333;
    cursor: pointer;
    &:hover {
      color: #000;
      border-color: #6800a4;
      transition: all 0.2s;
    }
  }
  &-disabled {
    margin-top: 10px;
    color: #717171;
    cursor: not-allowed;
  }
}
.btn__basket-buy {
  background-color: #6800a4;
  border: 2px solid #6800a4;
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 20px 0 0;
  cursor: pointer;
  &:hover {
    background-color: #161616;
    color: #fff;
    border-color: #e99300;
    transition: all 0.2s;
  }
}