nav {
  background-color: #333333;
  padding: 10px 0;
  width: 100%;

}
.header-content {
  width: 940px;
  margin: 0 auto; 
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
.link-navigation a {
  color: #e7e7e7;
  text-decoration: none;
  margin: 0 15px;
  &:hover {
    color: #c156ff;
  }
}
.link-navigation a.active {
  color: #fff;
  font-weight: 600;
}

.footer {
  background-color: #000;
  width: 100%;
  box-shadow: 0px 0px 40px 5px;
  padding: 15px 0 5px;
  text-align: center;
}

// стили для падающего снега
* {
margin: 0;
padding: 0;
}

nav {
background-image: url('https://sitespectr.ru/test/sneg/img/snow.png'), 
url('https://sitespectr.ru/test/sneg/img/snow3.png'), 
url('https://sitespectr.ru/test/sneg/img/snow2.png');

-webkit-animation: snow 10s linear infinite;

-moz-animation: snow 10s linear infinite;
-ms-animation: snow 10s linear infinite;
animation: snow 10s linear infinite;
}

@keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
30% {background-position: 150px 200px, 100px 100px, 100px 100px;}
60% {background-position: 350px 600px, 250px 250px, 200px 200px;}	
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-moz-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
30% {background-position: 150px 200px, 100px 100px, 100px 100px;}
60% {background-position: 350px 600px, 250px 250px, 200px 200px;}	
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-webkit-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
30% {background-position: 150px 200px, 100px 100px, 100px 100px;}
60% {background-position: 350px 600px, 250px 250px, 200px 200px;}	
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@-ms-keyframes snow {
0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
30% {background-position: 150px 200px, 100px 100px, 100px 100px;}
60% {background-position: 350px 600px, 250px 250px, 200px 200px;}	
100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
