nav {
  background-color: #333333;
  margin: 0 0 20px 0;
  padding: 10px 0;
  width: 100%;

}
.header-content {
  width: 940px;
  margin: 0 auto; 
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
.link-navigation a {
  color: #e7e7e7;
  text-decoration: none;
  margin: 0 15px;
  &:hover {
    color: #ff6ac4;
  }
}
.link-navigation a.active {
  color: #fff;
  font-weight: 600;
}

.footer {
  background-color: #000;
  width: 100%;
  box-shadow: 0px 0px 40px 5px;
  padding: 15px 0 5px;
  text-align: center;
}